
<!-- Intro Start -->

<header class="intro" style="background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 1)) no-repeat bottom center scroll, url({{ site.background-img }})">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="brand-heading">&nbsp;</h1>
            <h1 class="brand-heading">&nbsp;</h1>
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              <span class="intro-text">{{ content }}</span>
            </a>
            <h5>&nbsp;</h5>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
